h1 {
  color: purple;
}

p {
  color: red;
}

#header1 {
  color: green;
}

#para1 {
  color: darkslategray;
}

#para2 {
  color: black;
}

#para3 {
  color: blueviolet;
  background-color: cornsilk;
}

#latest {
  color: darkslateblue;
}

.navigation {
  margin: 2px;
}
/* 
#blog div h1 {
  color: red;
} */

/* only color h1 element with text Latest News*/
#blog > h1 {
  color: blue;
}
